/* theme {    
.Lazuli-1-rgba { color: rgba(14, 61, 89, 1);} #AzulEscuro
.Lazuli-2-rgba { color: rgba(4, 157, 217, 1); } #AzulMaisClaro
.Lazuli-3-rgba { color: rgba(4, 191, 191, 1); } #VerdeÁgua
.Lazuli-4-rgba { color: rgba(4, 217, 178, 1); } #VerdeEsmeralda
.Lazuli-5-rgba { color: rgba(242, 242, 242, 1); } #BrancoAcinzentado
*/

body {
    padding-top: 155px;
}

.box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

.icone {
    height: 100px;
}

body {
    padding-top: 0px;
  }

.fixed-top {
    position: relative;
}

#home-quote {
    background: url(../img/bg-quote.jpg) center center;
    background-size: cover;
}

@media (max-width: 767px){
    #home-quote .display-4{
        font-size: 2.5rem;
    }
    body {
        padding-top: 0px;
    }
    .fixed-top {
        position: relative;
    }
}